.Todo {
    padding: 20px
}

.Todo_title {
    margin: 10px;
    text-transform: uppercase;
}

.Todo_description {
    margin: 10px
}

.Todo_wrapper{
    max-width: 360px;
    display: inline-block;
}